.content{
  margin: 5rem 10rem;
}

.title {
display: block;
border-bottom: solid 2px gray;
}
.title::before{
  content: '';
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: gray;
  border-radius: 2rem;
  top: 9px;
  left: -20px;
}

.textarea{
  display: inline-block;
}

.change_list{
  list-style-type: none;
  margin-top: 1rem;
}
.flex_content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input_list{
  padding: 0;
  text-align: right;
}
.textarea{
  text-align: left;
}
.input_container{
  text-align: right;
}